<%- include('layouts/header') %>



<div class="container " >
<img src="css/images/1.jpg" >

  <p >
  People tend to save money and with money increasing they had a hard time to keep it safe.
   And a great idea that is the bank emerged hitting two birds with one stone.
  People can leave the excess money in its care, and the bank can use this money to make profit so the money keep flowing.
   And like that they use the money to run projects or give loans and gain income or interest while the customers get some benefit from it too. That's why for its importance we are making a sample of a bank database.
  In it we keep record of any withdrawals or deposits from the customer. Also, different users can view the information from different locations.
   We also keep the privacy and safety of information along with the consistency. With this we make sure the bank can run smoothly on a large scale. Actually, today’s banks cannot be what they are now without databases.
</p>
</div>


<%- include('layouts/footer') %>