<%- include('layouts/header') %>

<%- messages('partials/my_message_template') %>
    <% if (typeof errors !=='undefined' ) { %>
      <% errors.forEach(error=> { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>
            <%= error.msg %>
          </strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <% }); %>
          <% } %>


<div class="container ">
  <form novalidate action="/managerchangepassword" method="POST">

    <div class="form-row">
      <label  class="col-sm-3 col-form-label col-form-label-lg"><h4>New Password</h4></label>
      <div class="col-sm-10 col-md-4 mb-5 ">
        <input type="text" class="form-control form-control-lg"  placeholder="New Password" name = "PW">
      </div>
    </div>

    <div class="form-row">
      <label  class="col-sm-3 col-form-label col-form-label-lg"><h4>Confirm Password</h4></label>
      <div class="col-sm-10 col-md-4 mb-5">
        <input type="text" class="form-control form-control-lg"  placeholder="confirm Password" name = "CPW">
      </div>
    </div>
    
    <div class="form-row">

      <div class="form-group  col-sm-10 col-md-4 mb-5 mx-auto ">
     
        <button type="submit"   class="btn btn-primary  btn-lg " >Confirm</button>
      </div>
    

    </div>
    
  </form>


  </div>

<%- include('layouts/footer') %>